@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/jetbrains-mono-cyrillic-ext-400-normal.17d05b18.woff2)
      format("woff2"),
    url(/_next/static/media/jetbrains-mono-cyrillic-ext-400-normal.17463387.woff)
      format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/jetbrains-mono-cyrillic-400-normal.17524150.woff2)
      format("woff2"),
    url(/_next/static/media/jetbrains-mono-cyrillic-400-normal.c9c6c002.woff)
      format("woff");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/jetbrains-mono-greek-400-normal.77d339c7.woff2)
      format("woff2"),
    url(/_next/static/media/jetbrains-mono-greek-400-normal.517c450b.woff)
      format("woff");
  unicode-range: u+0370-0377, u+037a-037f, u+0384-038a, u+038c, u+038e-03a1,
    u+03a3-03ff;
}
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/jetbrains-mono-vietnamese-400-normal.553f85d1.woff2)
      format("woff2"),
    url(/_next/static/media/jetbrains-mono-vietnamese-400-normal.f83be352.woff)
      format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329,
    u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/jetbrains-mono-latin-ext-400-normal.4d63b447.woff2)
      format("woff2"),
    url(/_next/static/media/jetbrains-mono-latin-ext-400-normal.dc4026db.woff)
      format("woff");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
    u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/jetbrains-mono-latin-400-normal.db9d659a.woff2)
      format("woff2"),
    url(/_next/static/media/jetbrains-mono-latin-400-normal.e25c3319.woff)
      format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
    u+2193, u+2212, u+2215, u+feff, u+fffd;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
.mb-none {
  margin-bottom: 0;
}
.mb-s {
  margin-bottom: 0.5rem;
}
.mb-m {
  margin-bottom: 1rem;
}
.mb-l {
  margin-bottom: 2rem;
}
.mb-xl {
  margin-bottom: 4rem;
}
@font-face {
  src: url(https://ik.imagekit.io/pivosoki/fonts/TINY5x3GX.woff2);
  font-family: TINY;
  font-style: normal;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  font-family: JetBrains Mono, SFMono-Regular, Consolas, monospace;
  font-size: 14px;
  color: #bbbbbb;
}
body :focus,
html :focus {
  outline-color: #bbbbbb;
}
body p,
h1,
h2,
h3,
h4,
h5,
h6,
html p {
  margin: 0;
}
h1,
h2 {
  text-transform: uppercase;
  font-size: inherit;
  font-weight: inherit;
  white-space: nowrap;
  font-family: JetBrains Mono, SFMono-Regular, Consolas, monospace;
  font-size: 14px;
  letter-spacing: 0.025rem;
  font-weight: 130;
}
.disabled {
  cursor: not-allowed;
}
.disabled button,
.disabled input {
  pointer-events: none;
}
.container {
  margin-left: 280px;
}
@media (max-width: 768px) {
  .container {
    margin-left: 0;
  }
}
.tools {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: [controls-start sketch-start] auto [playback] 128px [controls-end sketch-end];
  grid-template-columns: [controls] 281px [sketch playback] auto;
}
@media (max-width: 768px) {
  .tools {
    grid-template-rows: [sketch-start] auto [sketch-end playback-start] min-content [controls-start playback-end] 198px [controls-end];
    grid-template-columns: [sketch playback controls] 1fr;
  }
}
.control-panel {
  grid-area: controls;
}
.video-control-panel {
  grid-area: playback;
}
.react-p5-wrapper {
  grid-area: sketch;
  overflow: auto;
}
@media (max-width: 768px) {
  .react-p5-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    padding: 12px;
  }
  .react-p5-wrapper canvas {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain !important;
  }
}
.layout {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 50svh 50svh auto;
}
@media (min-width: 1280px) {
  .layout {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100svh auto;
  }
}
.sketch {
  grid-row: 1/2;
  height: 100%;
}
@media (min-width: 1280px) {
  .sketch {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    grid-row: 1/3;
    grid-column: 2/2;
    height: 100svh;
  }
}
.content {
  height: auto;
}
.border {
  border-bottom: 1px dotted #bbbbbb;
}
.left {
  grid-column: 1/2;
}
.wrapper-fix {
  overflow: hidden;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25rem;
  padding: 0 14px;
}
.intro p {
  max-width: 50ch;
  margin: 0 0 1rem;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  padding: 1rem 1rem 5rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.tiny {
  overflow-wrap: break-word;
  word-break: break-all;
  line-height: 0.65;
  color: #bbbbbb;
  font-family: TINY;
  font-feature-settings: "ss01", "ss03", "ss06", "kern" off;
  font-kerning: none;
  font-size: 8.5rem;
  margin: 0 0 3rem;
  font-weight: 155;
  text-transform: none;
}
@media (max-width: 768px) {
  .tiny {
    font-size: 6.5rem;
  }
}
p {
  font-size: 14px;
  margin: 0 0 1rem;
  max-width: 75ch;
}
a {
  color: #bbbbbb;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.about,
.changelog,
.support {
  padding: 18px 12px 96px;
}
.about .page-grid,
.changelog .page-grid,
.support .page-grid {
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-gap: 12px;
  gap: 12px;
}
.about .content-column,
.changelog .content-column,
.support .content-column {
  max-width: 600px;
}
.about .sections-grid,
.changelog .sections-grid,
.support .sections-grid {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.about .sections-grid .section,
.changelog .sections-grid .section,
.support .sections-grid .section {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 2rem;
  gap: 2rem;
}
.about .sections-grid .section .section-title,
.changelog .sections-grid .section .section-title,
.support .sections-grid .section .section-title {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .about,
  .changelog,
  .support {
    padding: 64px 12px 256px;
  }
  .about .page-grid,
  .changelog .page-grid,
  .support .page-grid {
    grid-template-columns: 1fr;
    gap: 48px;
  }
  .about .page-grid .section,
  .changelog .page-grid .section,
  .support .page-grid .section {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
.support .page-grid * {
  transition: filter 0.3s ease;
}
.support .crypto-section {
  display: block;
}
.support .crypto-address {
  position: relative;
  display: inline-block;
}
.support .crypto-address:hover ~ * {
  filter: blur(4px);
}
.support .crypto-address .address {
  cursor: pointer;
  border-bottom: 1px dotted #bbbbbb;
  position: relative;
  z-index: 2;
}
.support .crypto-address .address:before {
  content: "";
  position: absolute;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  z-index: 1;
}
.support .crypto-address .address:hover {
  border-bottom-style: none;
}
.support .crypto-address .qr-overlay {
  display: none;
  position: absolute;
  left: 100%;
  bottom: 12px;
  background: #000000;
  margin: 8px;
  z-index: 10;
}
.support .crypto-address .qr-overlay img,
.support .crypto-address:hover .qr-overlay {
  display: block;
}
.support .crypto-address:hover {
  filter: blur(0);
  z-index: 5;
}
.support .sections-grid .section {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 438px;
}
.support
  .sections-grid:has(.crypto-address:hover)
  > :not(:has(.crypto-address:hover)) {
  filter: blur(12px);
}
.button {
  cursor: pointer;
  text-align: left;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  border: 1px dotted #bbbbbb;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.button.secondary {
  background-color: #efefef;
  color: #bbbbbb;
}
.button.secondary:hover {
  background-color: #d6d6d6;
  border: 1px solid #bbbbbb;
}
.button.secondary:active {
  background-color: #bcbcbc;
}
.button.primary {
  background-color: #bbbbbb;
  color: #000000;
  border: 1px solid #bbbbbb;
}
.button.primary .shortcut-hint {
  background-color: #404040;
}
.button.primary:hover {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
}
.button.primary:active {
  background-color: #666;
}
.button.ghost {
  background-color: transparent;
  color: #bbbbbb;
  border: 1px dotted #bbbbbb;
}
.button.ghost:hover {
  border: 1px solid #bbbbbb;
}
@media (max-width: 768px) {
  .button {
    justify-content: center;
  }
}
.toggle {
  gap: 6px;
  padding: 12px 0;
}
.toggle,
.toggle-box {
  display: flex;
  align-items: center;
}
.toggle-box {
  position: relative;
}
.toggle input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 14px;
  margin: 0;
  cursor: pointer;
  position: relative;
}
.toggle input[type="checkbox"]:before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.toggle input[type="checkbox"]:checked:before {
  content: "*";
}
.toggle label {
  flex-grow: 1;
  cursor: pointer;
}
.content-switcher {
  display: flex;
  align-items: center;
}
.content-switcher label {
  flex-grow: 1;
}
.content-switcher button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 8px 0 8px 14px;
  font: inherit;
}
.content-switcher button.active,
.content-switcher button:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .content-switcher {
    border: 1px solid #bbbbbb;
    margin: 0 12px 22px;
    border-radius: 4px;
    overflow: hidden;
  }
  .content-switcher label {
    display: none;
  }
  .content-switcher button {
    flex: 1 1;
    height: 40px;
    background-color: #efefef;
  }
  .content-switcher button:not(:last-child) {
    border-right: 1px dotted #bbbbbb;
  }
  .content-switcher button:hover {
    text-decoration: none;
  }
  .content-switcher button.active {
    text-decoration: none;
    background-color: #d6d6d6;
  }
}
.color-picker {
  display: flex;
  align-items: center;
}
.color-picker label {
  flex-grow: 1;
}
.color-picker input[type="color"] {
  border: none;
  border-radius: 0;
  padding: 0;
}
.color-picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-picker input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}
.color-picker input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 0;
}
.control-panel {
  overflow: hidden;
  border-right: 1px dotted #bbbbbb;
  border-left: 1px dotted #bbbbbb;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.control-panel * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.control-panel .control-panel-content {
  flex-grow: 1;
  padding: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #000000;
}
.control-panel footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 2;
  padding: 12px;
  box-shadow: 0 -12px 8px 4px #000000;
}
.control-panel footer p {
  font-size: 12px;
  height: 16px;
}
.control-panel .footer-controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
}
.control-panel .footer-controls * {
  background: #000000;
  border: none;
  color: #bbbbbb;
  text-align: center;
}
.control-panel .footer-controls :active,
.control-panel .footer-controls :hover {
  background-color: #e2e2e2;
  border: none;
}
@media (max-width: 768px) {
  .control-panel {
    border-right: none;
    z-index: 2;
  }
  .control-panel footer {
    box-shadow: none;
    padding: 0;
  }
  .control-panel .control-panel-content {
    padding: 0;
  }
  .control-panel .mobile-controls-header {
    display: flex;
    margin-bottom: 16px;
  }
  .control-panel .mobile-controls-header .image-uploader-container {
    border-bottom: 1px dotted #bbbbbb;
    flex: 1 2;
  }
  .control-panel .mobile-controls-header .file-uploader-label {
    line-height: 14px;
    background: none;
    border: none;
    color: #bbbbbb;
    text-align: center;
    text-transform: none;
  }
  .control-panel .mobile-controls-header .file-uploader-label:active,
  .control-panel .mobile-controls-header .file-uploader-label:hover {
    background-color: #efede5;
    border: none;
  }
  .control-panel .export-message,
  .control-panel .file-uploader-display,
  .control-panel .info {
    display: none;
  }
  .control-panel .tabs {
    display: flex;
    height: 32px;
    flex: 2 1;
  }
  .control-panel .tabs .tab {
    flex: 1 1;
    padding: 0;
    background: #000000;
    color: #bbbbbb;
    cursor: pointer;
    border: none;
    border-bottom: 1px dotted #bbbbbb;
  }
  .control-panel .tabs .tab:not(:last-child) {
    border-right: 1px dotted #bbbbbb;
    border-left: 1px dotted #bbbbbb;
  }
  .control-panel .tabs .tab:first-child {
    border-left: none;
  }
  .control-panel .tabs .tab.active {
    border-bottom: none;
    border-top: 1px dotted #bbbbbb;
  }
  .control-panel .tabs .tab.active:first-child {
    border-left: 1px dotted #bbbbbb;
  }
}
.control-group {
  background: #000000;
  color: #bbbbbb;
  margin: 1rem -1rem 0.75rem;
  position: relative;
  border: 1px dotted #bbbbbb;
  padding: 0 1rem;
  background-color: #efefef;
}
.control-group .control-group-title {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.control-group .control-group-title h3 {
  margin: 0;
  display: inline;
  font-size: 14px;
  font-weight: 400;
  background: #000000;
}
.control-group .control-group-title button {
  background: #000000;
  border: none;
  color: #bbbbbb;
  cursor: pointer;
}
.control-group .control-group-content {
  display: none;
}
.control-group .control-group-content.expanded {
  display: block;
  padding: 1rem 0;
}
.slider-number-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #bbbbbb;
  flex-wrap: wrap;
  padding: 8px 0 0;
}
.slider-number-input label {
  margin: 0;
  flex: 1 0 auto;
}
.slider-number-input input[type="number"] {
  padding: 0;
  border: none;
  height: 16px;
  max-width: 48px;
  color: #bbbbbb;
  text-align: end;
  background-color: transparent;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.slider-number-input input[type="number"]::-webkit-inner-spin-button,
.slider-number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.slider-number-input input[type="number"]:focus {
  border-radius: 0;
  outline: none;
  font-weight: 700;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: -1px;
}
.slider-number-input input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 24px;
  background: transparent;
  outline: none;
  margin: 2px 0 0;
  flex-basis: 100%;
  position: relative;
  cursor: pointer;
}
.slider-number-input input[type="range"]:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  height: 1px;
  background: #bbbbbb;
  opacity: 0.5;
  transition: height 0.2s ease, opacity 0.2s ease;
  pointer-events: none;
}
.slider-number-input input[type="range"]:focus:before,
.slider-number-input input[type="range"]:hover:before {
  height: 1px;
  opacity: 1;
}
.slider-number-input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-left: 1px solid #bbbbbb;
  height: 10px;
  width: 1px;
  border-radius: 0;
  background: #000000;
  margin-top: -4px;
  position: relative;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.slider-number-input input[type="range"]:focus::-webkit-slider-thumb,
.slider-number-input input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}
.slider-number-input input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #bbbbbb;
  opacity: 0.5;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.slider-number-input input[type="range"]:focus::-moz-range-track,
.slider-number-input input[type="range"]:hover::-moz-range-track {
  opacity: 1;
}
.slider-number-input input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 1px;
  border-radius: 0;
  background: #bbbbbb;
  opacity: 0.5;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.slider-number-input input[type="range"]:focus::-moz-range-thumb,
.slider-number-input input[type="range"]:hover::-moz-range-thumb {
  opacity: 1;
}
.drawer {
  border-bottom: 1px dotted #bbbbbb;
  background-color: #000000;
  z-index: 999;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-shrink: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  text-transform: uppercase;
}
.drawer-body {
  width: 100%;
}
.drawer-body,
.drawer-list {
  display: flex;
  flex-direction: row;
}
.drawer-list {
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
  margin: 0;
  overflow: auto;
}
.drawer-footer {
  display: flex;
  margin-left: auto;
  border-left: 1px dotted #bbbbbb;
}
.drawer-link {
  width: 48px;
  height: 48px;
  background-color: transparent;
  color: #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 8px;
}
.drawer .effects-label {
  display: flex;
  align-items: center;
  height: 26px;
}
.drawer .burger-menu {
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  padding: 18px 12px 19px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.drawer .burger-menu .burger-line {
  width: 14px;
  height: 1px;
  background-color: #bbbbbb;
}
.drawer .burger-menu.open .burger-line:first-child {
  transform: translateY(6px) rotate(45deg);
}
.drawer .burger-menu.open .burger-line:nth-child(2) {
  opacity: 0;
}
.drawer .burger-menu.open .burger-line:last-child {
  transform: translateY(-4px) rotate(-45deg);
}
.drawer .active {
  text-decoration: underline;
  font-weight: 700;
  cursor: default;
}
.mobile-menu {
  position: fixed;
  top: 49px;
  display: none;
  width: 100%;
  background-color: #000000;
  z-index: 998;
  border-bottom: 1px dotted #bbbbbb;
}
.mobile-menu.open {
  display: block;
}
.mobile-menu .menu-list {
  list-style: none;
  padding: 12px;
  margin: 0;
}
.mobile-menu .menu-list li {
  margin-bottom: 12px;
}
.mobile-menu .menu-list .menu-link {
  color: #bbbbbb;
  text-decoration: none;
}
.mobile-menu .menu-list .menu-link.active,
.mobile-menu .menu-list .menu-link:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .drawer {
    width: 256px;
    border-top: none;
    border-right: none;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    right: unset;
    padding: 12px;
    border-bottom: none;
  }
  .drawer-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }
  .drawer-footer {
    margin-left: 0;
    margin-top: auto;
    border-left: none;
    padding-left: 0;
    padding-top: 8px;
    flex-direction: column;
  }
  .drawer-footer > :last-child {
    margin-bottom: 0;
  }
  .drawer-list {
    flex-direction: column;
  }
  .drawer .shift {
    margin-left: 12px;
  }
  .drawer-link {
    margin: 0;
    width: auto;
    height: 26px;
    padding: 0;
    display: inline-flex;
    align-items: center;
  }
  .drawer-link .indicator {
    text-decoration: none;
    margin-right: 6px;
    position: relative;
  }
  .drawer-link .indicator:before {
    content: "[ ]";
  }
  .drawer-link .label:hover {
    text-decoration: underline;
  }
  .drawer .active {
    background-color: transparent;
    color: #bbbbbb;
    font-weight: 400;
    text-decoration: none;
  }
  .drawer .active .indicator:before {
    content: "[*]";
  }
  .drawer .active .label:hover {
    text-decoration: none;
  }
}
.slideshow {
  position: relative;
  width: 100%;
  aspect-ratio: 4/5;
  overflow: hidden;
  border: 1px dotted #bbbbbb;
}
@media (min-width: 600px) {
  .slideshow {
    aspect-ratio: 16/10;
  }
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.slide.active {
  opacity: 0.85;
}
.file-uploader {
  display: flex;
  flex-direction: column;
}
.file-uploader-input {
  display: none;
}
.file-uploader-display {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0 32px;
  font-size: 12px;
}
.file-uploader-label {
  display: flex;
  padding: 8px;
  background-color: #efefef;
  color: #bbbbbb;
  border: 1px dotted #bbbbbb;
  cursor: pointer;
  white-space: nowrap;
  line-height: 22px;
}
.file-uploader-label:hover {
  background-color: #d6d6d6;
  border: 1px solid #bbbbbb;
}
.file-uploader-label:active {
  background-color: #bcbcbc;
}
.shortcut-hint {
  font-size: 12px;
  margin-left: auto;
  padding: 0 4px;
  height: 22px;
  display: flex;
  align-items: center;
  line-height: 0%;
  background-color: #e2e2e2;
}
@media (max-width: 768px) {
  .shortcut-hint {
    display: none;
  }
  .file-uploader-label {
    justify-content: center;
  }
}
.tiles {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}
@media (min-width: 600px) {
  .tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .tiles {
    grid-template-columns: repeat(3, 1fr);
  }
}
.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  font-family: Menlo, SFMono-Regular, Consolas, monospace;
  text-decoration: none;
  transition: opacity 0.5s ease;
  width: 100%;
}
.tile img {
  border: 1px dotted #bbbbbb;
  opacity: 0.85;
}
.tile:hover {
  opacity: 1;
}
.tile:hover img {
  border: 1px solid #bbbbbb;
  filter: invert(1);
}
.tile h2 {
  margin: 0;
  padding: 0.5rem 0 2rem;
  font-size: 14px;
  font-weight: 400;
  color: #bbbbbb;
  text-align: center;
}
.footer {
  margin-top: auto;
  padding: 1rem;
  color: #595959;
}
.footer p {
  margin: 0;
}
.share {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 8px;
}
.share button {
  margin: 0;
  aspect-ratio: 1;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted #bbbbbb;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.share button:hover {
  border: 1px solid #bbbbbb;
}
@media (min-width: 768px) {
  .share {
    flex-direction: column-reverse;
    margin-bottom: 8px;
    margin-right: 0;
  }
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
}
.fixed {
  position: fixed;
}
.arrow {
  position: absolute;
  background: inherit;
}
.noArrow {
  display: none;
}
.clickable {
  pointer-events: auto;
}
.show {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}
.closing {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.tooltip {
  background: #bbbbbb;
  padding: 6px 8px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 12px;
  font-size: 12px;
}
.submit-banner {
  display: none;
}
@media (min-width: 768px) {
  .submit-banner {
    display: block;
    position: fixed;
    max-width: 290px;
    right: 8px;
    bottom: 8px;
    background-color: #bbbbbb;
    padding: 12px 16px 12px 12px;
    font-size: 14px;
    z-index: 1000;
    color: #000000;
  }
  .submit-banner p {
    margin: 0 0 10px;
  }
  .submit-banner a {
    color: #000000;
  }
}
.gradient-editor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.gradient-editor button {
  background: transparent;
  border: none;
  color: #bbbbbb;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  min-width: 32px;
}
.gradient-editor button:hover {
  text-decoration: underline;
}
.gradient-editor-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.gradient-editor-label {
  margin-right: auto;
}
.gradient-editor-preview {
  height: 24px;
  width: 100%;
  flex-grow: 1;
  margin: 8px 0;
}
.gradient-editor-stop {
  display: flex;
  align-items: center;
  width: 100%;
}
.gradient-editor-stop button {
  width: 32px;
  height: 32px;
  padding: 0;
}
.gradient-editor-stop input[type="number"],
.gradient-editor-stop input[type="text"] {
  padding: 0;
  margin-right: 2rem;
  border: none;
  height: 16px;
  max-width: 96px;
  width: 36px;
  color: #bbbbbb;
  text-align: start;
  background-color: transparent;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.gradient-editor-stop input[type="number"]::-webkit-inner-spin-button,
.gradient-editor-stop input[type="number"]::-webkit-outer-spin-button,
.gradient-editor-stop input[type="text"]::-webkit-inner-spin-button,
.gradient-editor-stop input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.gradient-editor-stop input[type="number"]:focus,
.gradient-editor-stop input[type="text"]:focus {
  border-radius: 0;
  outline: none;
  font-weight: 700;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: -1px;
}
.gradient-editor-stop input[type="text"] {
  margin-right: auto;
  width: 58px;
}
.gradient-editor-stop input[type="color"] {
  width: 32px;
  height: 32px;
}
.split-button {
  display: flex;
  flex-wrap: wrap;
  background-color: #bbbbbb;
  position: relative;
}
.split-button.shimmer {
  position: relative;
  overflow: hidden;
}
.split-button.shimmer:after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.3) 50%,
    hsla(0, 0%, 100%, 0)
  );
  animation: shimmer 2s infinite;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.split-button__vl {
  border-left: 1px dotted #595959;
  margin: 6px 0;
}
.split-button__dropdown {
  position: absolute;
  width: 100%;
  background-color: #bbbbbb;
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px dotted #595959;
}
.split-button__dropdown li {
  color: #efefef;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}
.split-button__dropdown li:hover {
  background-color: #4d4d4d;
}
.split-button__primary,
.split-button__toggle {
  height: 40px;
  cursor: pointer;
  background-color: #bbbbbb;
  font-size: 14px;
  transition: background-color 0.3s, border-color 0.3s;
  padding: 8px;
  color: #efefef;
  border: 1px solid #bbbbbb;
}
.split-button__primary:hover,
.split-button__toggle:hover {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
}
.split-button__primary:active,
.split-button__toggle:active {
  background-color: #666;
}
.split-button__primary {
  flex: 1 1;
  text-align: left;
}
.split-button__toggle {
  width: 40px;
}
.video-control-panel {
  padding: 0 12px 12px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-between;
}
.video-control-panel .timeline-container {
  flex-basis: 100%;
  position: relative;
  width: 100%;
  height: 24px;
  z-index: 2;
}
.video-control-panel .frame-dots {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  pointer-events: none;
  z-index: 1;
}
.video-control-panel .frame-dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 2px;
  background-color: #595959;
}
.video-control-panel .frameDisplay {
  white-space: nowrap;
}
.video-control-panel input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 24px;
  background: transparent;
  outline: none;
  position: relative;
  cursor: pointer;
}
.video-control-panel input[type="range"]:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  height: 1px;
  background: #bbbbbb;
  opacity: 0.5;
  transition: height 0.2s ease, opacity 0.2s ease;
  pointer-events: none;
}
.video-control-panel input[type="range"]:focus:before,
.video-control-panel input[type="range"]:hover:before {
  height: 1px;
  opacity: 1;
}
.video-control-panel input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-left: 1px solid #bbbbbb;
  height: 10px;
  width: 1px;
  border-radius: 0;
  background: #000000;
  margin-top: -4px;
  position: relative;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.video-control-panel input[type="range"]:focus::-webkit-slider-thumb,
.video-control-panel input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}
.video-control-panel input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #bbbbbb;
  opacity: 0.5;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.video-control-panel input[type="range"]:focus::-moz-range-track,
.video-control-panel input[type="range"]:hover::-moz-range-track {
  opacity: 1;
}
.video-control-panel input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 1px;
  border-radius: 0;
  background: #bbbbbb;
  opacity: 0.5;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.video-control-panel input[type="range"]:focus::-moz-range-thumb,
.video-control-panel input[type="range"]:hover::-moz-range-thumb {
  opacity: 1;
}
.mobile-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 64px;
  background-color: #000000;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mobile-slider .indicator {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  height: 32px;
  width: 2px;
  background-color: #bbbbbb;
  pointer-events: none;
  z-index: 1;
}
.mobile-slider .ruler {
  display: flex;
  position: absolute;
  bottom: 24px;
  left: 0;
  will-change: transform;
}
.mobile-slider .initial-value-dot {
  position: absolute;
  bottom: 28px;
  width: 4px;
  height: 4px;
  background-color: #bbbbbb;
  border-radius: 50%;
}
.mobile-slider .tick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8px;
  box-sizing: border-box;
}
.mobile-slider .tick-container .tick {
  width: 1px;
  background-color: #bbbbbb;
  flex-shrink: 0;
}
.mobile-slider .tick-container .tick-label {
  font-size: 12px;
  margin-top: 5px;
  color: #595959;
  text-align: center;
}
.mobile-slider .tick-container:nth-child(10n + 1) .tick {
  height: 16px;
}
.mobile-slider .tick-container:not(:nth-child(10n + 1)) .tick {
  height: 16px;
  opacity: 0.3;
}
.property-selector {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  touch-action: pan-x;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0 0 12px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.property-selector::-webkit-scrollbar {
  display: none;
}
.property-item {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  margin: 0 4px;
  border-radius: 2px;
  color: #595959;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.property-item.selected {
  background-color: #bbbbbb;
  color: #000000;
}
.property-label,
.property-value {
  line-height: 1;
  margin: 0 2px;
}
.property-value {
  margin-left: 6px;
}
